<input type="hidden"value="{{radioPicked}}">
<input type="hidden"value="{{cityPicked}}">
<h2 class="welcomeBack">
    you chose the  {{radioPicked}} style you will be wearing around in: {{cityPicked}}!
</h2>
<p>
    According to our stylists, you should be wearing:

</p>

<h2>
Add this outfit to your favorites?</h2>

If were all done here, we can head back home :)
<p><a href="/">Home</a></p>