<input type="hidden"value="{{radioPicked}}">
<input type="hidden"value="{{cityPicked}}">
<h2 class="welcomeBack">
    You chose the  {{radioPicked}} style you will be wearing around in: {{cityPicked}}!
    </br></br>
<p class="stylist">
    According to our stylists, you should be wearing:

</p>

<h2></br></br>
Add this outfit to your favorites?</h2>
    </br></br>
If were all done here, we can head back home :)
<p><a href="/" class="goHome">Home</a></p>

<!--"Peacoat"   "Black Slacks"  "High Heels"	"Chunky Scarf"	"Super Cold"	"Business"
2	"Anorak"	"Skinny Jeans"	"Moon Boots"	"Furry Hat"	"Super Cold"	"Casual"
3	"Fleece Jogger"	"Sweat Pants"	"Tennis Shoes"	"Beanie"	"Super Cold"	"Sporty"
4	"Parka with Dress Underneath"	"Black Tights"	"Wellingtons"	"Light Scarf"	"Super Cold"	"Event"
5	"Trench Coat"	"Black Slacks"	"Wedged Booties"	"Gloves"	"Cold"	"Business"
6	"Leather Jacket"	"Jeans"	"Hiking Boots"	"Light Scarf and Beanie"	"Cold"	"Casual"
7	"Fleece Jogger"	"Yoga Pants"	"Tennis Shoes"	"Warm Headband"	"Cold"	"Sporty"
8	"Blazer"	"Black Slacks"	"Chunky Heels"	"Red Lipstick"	"Cold"	"Event"
9	"Blazer"	"Black Slacks"	"Knee High Boots"	"Hair Bow"	"Medium"	"Business"
10	"Duster"	"Black Leggings"	"Moccasin Boots"	Fringe Purse"	"Medium"	"Casual"
11	"Long Sleeve Zip Up"	"Yoga Pants"	"Running Shoes"	"Fit Bit"	"Medium"	"Sporty"
12	"Blazer"	"Pencil Skirt"	Ballet Flats"	"Earrings"	"Medium"	"Event"
13	"Printed Tunic"	"Black Tights"	"Knee High Boots"	"Watch"	"Warm"	"Business"
14	"Band T-Shirt"	"Jean Shorts"	"Gladiator Sandals"	"Fringed Purse"	"Warm"	"Casual"
15	"Dri-Fit T-Shirt"	"Athletic Shorts"	"Running Shoes"	"Baseball Hat"	"Warm"	"Sporty"
16	"Dress"	null	"Wedged High Heels"	"Necklace"	"Warm"	"Event"
17	"Billowy Tank Top"	"Black Slacks"	"Open Toe Heels"	"Earrings"	"Hot"	"Business"
18	"Sundress"	null	"Flip Flops"	"Sunglasses"	"Hot"	"Casual\
19	"Tank Top"	"Bicycle Shorts"	"Tennis Shoes"	"Headband"	"Hot"	"Sporty"
20	"Tank Top Blouse"	"Pencil Skirt"	"Espadrilles"	"Floppy Hat"	"Hot"	"Event"-->