
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">

<body>
<h1 class="title">{{title}}</h1>
<center><img  class= "sunPic" src="/sunnyday.jpg" alt="Sunny Day Image" style="width:304px;height:228px;"></center>
<p class="aboutTheApp"> Weather Closet is a personalized styling service that
give you outfit recommendations based on your location and the weather. Through WeatherGround
we connect our servers through their API </br>to find the local temperature through your zipcode.
From there, you can see the daily or weekly stylist recommendations for your location! Once you've seen the
    recommendation </br> you can choose to save that outfit or return back home and check out other
cities recommendations!</p>
<p><center>
    <h2>
    Are you ready to Weather Closet?
    </h2>
    <p class="signIn"> Please sign in</p>


<form>
<div class="signInForm">
    First name:<br>
    <input type="text" name="firstname" value="Mickey"><br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse"><br><br>
    <input type="submit" value="Submit">
    </br><a href="">New user? Create a login</a>
</div>
</form>
</center>
</body>
</html>