
<b>

<p class="aboutTheApp"> Weather Closet is a personalized styling service that
give you outfit recommendations based on your location and the weather. Through WeatherGround
we connect our servers through their API </br>to find the local temperature through your zipcode.
From there, you can see the daily or weekly stylist recommendations for your location! Once you've seen the
    recommendation </br> you can choose to save that outfit or return back home and check out other
cities recommendations!</p>
<p><center>
    <h2>
    Are you ready to Weather Closet?
    </h2>
    <p class="signIn"> Please sign in</p>


<form action="/personalpage" method="GET">
<div class="signInForm">
    Username:<br>
    <input type="text" name="username" placeholder="Mickey"><br>
    Password:<br>
    <input type="password" name="password" placeholder="*****"><br><br>
    <input type="submit" value="submit">
    </br><a href="">New user? Create a login</a>
</div>
</form>
</b>
<a href="{{title}}">for right now, this is the link to the next page so you dont use user verification</a>
</center>
