<!DOCTYPE html>
<html>
  <head>
      <h1 class="title">{{title}}</h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  <!--  <center><img  class= "sunPic" src="/sunnyday.jpg" alt="Sunny Day Image" style="width:304px;height:228px;"></center>-->
  </body>
</html>
