body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: #00B7FF;
}
h1 {
  font-size:  78px ;
  font-family: 'Pacifico', cursive;;
  align-content: center;
}
.title {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: groove 1px*/;
  color: rgb(252, 162, 99);
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgb(2, 0, 4), 0 0 20px rgb(2, 0, 4), 0 0 3px rgb(2, 0, 4), 0 0 40px #28ffd0, 0 0 7px #ff00de , 0 0 80px #ff00de , 0 0 1px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.title:hover {
  text-shadow: 0 0 10px rgb(2, 0, 4), 0 0 20px rgb(2, 0, 4), 0 0 30px rgb(2, 0, 4), 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
.aboutTheApp{
  font-family: 'Open Sans', sans-serif;;
  text-align: center;
}
.aboutTheApp{
  font-weight: bolder;
  font-size: 14pt;
}
.signIn{
  font-size: 13pt;
  font-style: italic;
}
.signInForm{
  padding-top: 30px;
  width: 250px;
  height: 130px;
  border: outset;
  border-color: black;

}